/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* CSS RESET */
*{
    padding:0;
    margin:0;
    border: none;
}


/* css variables */
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

}
.content{

    background-color: var(--Light-gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background: var(--White);
    width: 260px;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 27px;
    
}

.img-box{
    margin-top: 6px;
}


.img-box img{
    width: 260px;
    height: 240px;
    border-radius: 10px;
}
.text{
    margin-top: 10px;
    padding: 10px 15px;
}


.text h3{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 20px;
}

.text p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    margin-top: 10px;
    text-align: center;
    color: #525252;
}

